/* © CopyRight TusMuertos.#4903 */
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,7ee,800,900&display=swap');
*
{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: 'Poppins', sans-serif;
}
section   
{
 display: flex;
 justify-content: center;
 align-items: center;
 min-height: 100vh;
 background: url(fondo.png);
 background-size: cover;
 background-position: center;
 background-attachment: fixed;
 padding: 50px;
}
.contenido
{
 position: relative;
 width: calc(100% - 100px);
 min-height: calc(100vh - 280px);
 min-height: 300px;
 background: linear-gradient(rgb(236, 9, 9), rgb(228, 62, 11), rgb(236, 24, 70));
 box-shadow: 0 15px 35px rgba(255, 255, 255,0.05);
 border-radius: 20px;
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 50px;
}
header
{
 position: absolute;
 top: -120px;
 right: 20px;
 left: 20px;
 padding: 20px 50px;
 display: flex;
 justify-content: space-between;
 align-items: center;
 background: linear-gradient(rgb(236, 9, 9), rgb(228, 62, 11), rgb(236, 24, 70));
 box-shadow: 0 15px 35px rgba(0,0,0,0.05);
 border-radius: 20px;
 backdrop-filter: blur(10px);
 border: 1px solid rgba(255, 255, 255,0.25);
 border-top: 1px solid rgba(255, 255, 255,0.5);
 border-left: 1px solid rgba(255, 255, 255,0.5);
}
header .logo
{
 color: #ffffff;
 font-weight: 700;
 text-decoration: none;
 font-size: 4em;
}
header ul
{
 display: flex;
}
header ul li
{
 list-style: none;
 margin: 0 10px;
}
header ul li a
{
 text-decoration: none;
 font-weight: 500;
 color: #ffffff;
 padding: 8px 15px;
 border-radius: 25px;
}
header ul li a:hover,
header ul li a.active
{
 background: rgba(231, 118, 118, 0.842);
 box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}
.content
{
 transform: translatex(360px);
 max-width: 800px;
 box-shadow: 0 15px 30px rgba(0,0,0,0.1);
 border-radius: 20px;
 backdrop-filter: blur(10px);
 border: 1px solid rgba(255,255,255,0.25);
 border-top: 1px solid rgba(255, 255, 255,0.5);
 border-Left: 1px solid rgba(255,255,255,0.5);
 padding: 40px;
 padding-left: 90px;
}
.content h2
{
 font-size: 3em;
 color: #ffffff;
}
.content p
{
 font-size: 1.2em;
 color: #ffffff;
}
.imagen img
{
 position: relative;
 top: -30px;
 left: -150px;   
 max-width: 400px;
 animation: animate 5s linear infinite;
}
.content a
{
 display: inline-block;
 padding: 15px 30px;
 background: rgba(238, 111, 111, 0.801);
 color: #ffffff;
 margin-top: 20px;
 border-radius: 30px;
 font-size: 1.2em;
 font-weight: 500;
 text-decoration: none;
 box-shadow: 0 5px 10px rgba(0,0,0,0.05);
}
.content a:hover,
.content a.active
{
    background: rgba(207, 63, 63, 0.842);
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);  
} 
@keyframes animate
{
    0%,100%
    {
        transform: translateY(50px);
    }
    50%
    {
        transform: translateY(60px);
    }
}
.copyright
{
 position: absolute;
 bottom: 30px;
 Left: 50px;
 color: #ffffff;
}
/* © CopyRight TusMuertos.#4903  */